version: '3.8'
services:
  postgres_db:
    image: postgres:alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=codrut
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
  admin:
    image: adminer
    restart: always
    depends_on:
      - postgres_db
    ports:
      - '8080:8080'